.nav-link {
  color: #d7d3d3;
  text-decoration: none;
  list-style: none;
}

.nav-link:hover {
  color: #989797;
  transform: scale(1.02);
}
.btn-a {
  color: white;
}
.shop-text {
  color: #000000;
  text-decoration: none;
  list-style: none;
}
